---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero" class="flex items-center gap-4 space-x-4">
      <div class="flex-shrink-0 mr-4"><img src="/assets/IMG_Profile.png" alt="Profile Image" class="w-32 h-32 rounded-full mb-8">
        <p class="text-center mb-8">App Math + CS <br> @ Brown</p>
        <Hr />
        {
          // only display if at least one social link is enabled
          socialCount > 0 && (
            <div class="social-wrapper">
              <Socials />
            </div>
          )
        }</div>
      
      <div class="ml-4">
        <h1 class="text-3xl font-bold sm:text-5xl">Suraj Anand</h1>
      <p>
        Hi, I am a senior at Brown University pursuing an M.S. in Computer Science concurrently with a B.Sc. in 
        Applied Mathematics-Computer Science. I am interested in (1) solving complex engineering problems and (2) exploring fascinating 
        mathematic/scientific ideas. My goal is to build algorithms that learn how to do useful things and are aligned with human values. 
      </p>
      <p>Please read some of my blog posts for more information!</p>
      </div>
    </section>

    <Hr />

    <!-- {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    } -->

    <section id="recent-posts">
      <h2>Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero img {
    @apply w-32 h-32 rounded-full mb-4;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col mt-8 mb-1 whitespace-nowrap sm:mb-0;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
